* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
}

a {
    color: #06c;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    font-size: 30px;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

p {
    font-size: 20px;
    margin: 10px 0;
}


.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}


/* Navbar */
.navbar {
    background-color: purple;
    height: 70px;
    padding: 0 30px;
}

.navbar h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 9px;
    margin: 0 10px;
}

.navbar a:hover {
    color: #9867C5;
    border-bottom: 3px solid #9867C5;
}

/* Showcase */
.showcase {
    height: 300px;
    background-color: purple;
}

.showcase p {
    margin-bottom: 30px;
}

.showcase img {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.showcase-form {
    padding-left: 7px;
}

.grid {
    overflow: none;
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-item-1,
.grid-item-2 {
  position: relative;
  top: 50px;
}

.showcase input[type='email'] {
    padding: 10px 70px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    padding-left: 6px;
}

.btn {
    border-radius: 6px;
    padding: 12px 20px;
    background: #9867C5;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.showcase-form {
    margin: auto;
}

.little-info {
    font-size: 15px;
    font-family: "poppins", sans-serif;
}

/* Lower */
.lower-container {
    margin: 120px auto;
    padding: 0;
    max-width: 1400px;
}

.title {
    color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.text {
    color: black;
    font-size: 19px;
    width: 100%;
    padding: 10px;
    margin: 0, 20px;
    text-align: justify;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.stats {
    padding: 45px 50px;
    text-align: center;
}

.stat {
    margin: 0 30px;
    text-align: center;
    width: 800px;
}

.stats .fa {
    color: purple;
}

.testimonial {
    color: black;
    padding: 40px;
}

.testimonial img{
    height: 100%;
    clip-path: circle();
}

.testimonial h3{
    text-align: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
                    7px  7px 20px rgba(0, 0, 0, 0.2)
}

.circle {
    background-color: transparent;
    border:3px solid purple;
    height:90px;
    position: relative;
    top: -30px;
    left: 120px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:90px;
}







/* Header */
.header {
    display: flex;

    background: rgba(0,0,0,0.8);
    color: #f5f5f7;
}
.header__contents {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header__content  {
    display: flex;
}

.header__content__link {
    padding: 0 10px;
    opacity: .8;
    cursor: pointer;
}

.header__content__link:hover {
    opacity: 1;
}

/* Intro */
.intro {
    text-align: center;
    padding: 50px 25px;
}
.intro__title {
    color: #1d1d1f;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}
.intro__subtitle {
    color: #1d1d1f;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    margin-top: 6px;
}
.intro__description {
    color: #89898e;
    margin-top: .8em;
}
.intro__description__liners {
    margin-top: .4em;
}
.intro__actions {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    margin-top: .65em;

    display: flex;
    align-items: center;
    justify-content: center;
}
.intro__actions__link {
    margin: 0 20px;
    cursor: pointer;
}
.intro__banner {
    margin-top: 1.5em;
}

.intro__banner__img {
    height: 250px;
    width: auto;
}
